@model RegistrationViewModel

@{
    ViewBag.Title = "Регистрация";
    Layout = "_Layout";
}

 <div class="registration-container">
        <div class="registration">
            <h2 class="registration-title">Заполните форму регистрации</h2>
            <form asp-action="Register" asp-controller="Account" class="registration-form" 
                method="post" enctype="multipart/form-data" asp-antiforgery="true">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="mb-3">
                    <input asp-for="Email" class="registration-input form-control" type="text"
                        placeholder="Email адрес">
                    <span class="validation text-danger" asp-validation-for="Email"></span>
                </div>
                <div class="mb-3">
                    <input asp-for="UserName" id="log-in" class="registration-input form-control" type="text" placeholder="Имя пользователя">
                    <span class="validation text-danger" asp-validation-for="UserName"></span>
                </div>
                <div class="mb-3 password-box">
                    <input asp-for="Password" id="password" class="password-input form-control" type="password"
                        placeholder="Пароль">
                    <div id="password-view" class="password-img">
                        <img src="~/images/view.png" class="view" alt="view">
                    </div>
                        <span class="validation text-danger" asp-validation-for="Password"></span>
                </div>
                <div class="mb-3 password-box">
                    <input asp-for="PasswordConfirm" id="confirm" class="password-input form-control" type="password"
                        placeholder="Подтверждение пароля">
                    <div id="confirm-view" class="password-img">
                        <img src="~/images/view.png" class="view" alt="view">
                    </div>
                    <span class="validation text-danger" asp-validation-for="PasswordConfirm"></span>
                </div>
                <button class="login-btn btn btn-primary" type="submit">Регистрация</button>
            </form>
        </div>
    </div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


