@model TransactionsViewModel

@{
    ViewBag.Title = "Список транзакций";
    Layout = "_Layout";
}

@if (Model.Transactions is null)
{
    <h2>Список транзакций пуст</h2>
}
else
{
    <form id="filtration-form">
         <div class="mb-3">
                        <label for="date-from" class="form-label">Дата от</label>
                        <input asp-for="@Model.Model.DateFrom" type="date" class="form-control" id="date-from" value="">
                    </div>
        <div class="mb-3">
            <label for="date-to" class="form-label">Дата до</label>
            <input asp-for="@Model.Model.DateTo" type="date" class="form-control" id="date-to" value="">
        </div>
        <button asp-action="Index" asp-controller="Transactions" id="filtration-button" type="submit" class="btn btn-warning">Фильтровать</button>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Номер транзакции</th>
            <th scope="col">Тип</th>
            <th scope="col">Сумма</th>
            <th scope="col">Дата</th>
            <th scope="col">Получатель</th>
            <th scope="col">Отправитель</th>
        </tr>
        </thead>
        <tbody id="table-body">
        @{
         await Html.RenderPartialAsync( "PartialViews/TransactionsPartialView", Model.Transactions );
        }
        </tbody>
    </table>
}